<div ng-hide="!vm.loading" layout="row" flex layout-align="center center">
  <md-progress-circular md-mode="indeterminate" md-diameter="140"></md-progress-circular>
</div>

<div ng-hide="vm.loading" flex="100">
  <h2 layout-padding>{{vm.applicationName}}</h2>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Edit Details</span>
      </md-card-title-text>
      <md-card-title-media>
      </md-card-title-media>
    </md-card-title>

    <md-content class="md-padding">
      <div layout-gt-xs="row">
        <div layout="column" flex>
          <md-input-container class="md-block">
            <label>Application Name</label>
            <input ng-model="vm.applicationDetails.Name" disabled>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Description</label>
            <textarea ng-model="vm.applicationDetails.Description" md-maxlength="150" rows="5"
              md-select-on-focus></textarea>
          </md-input-container>
        </div>
        <div layout="column" flex>
          <div ng-hide="vm.applicationDetails.Icon" style="text-align: center">
            No icon uploaded yet!
          </div>
          <div class="md-media-md card-media" ng-show="vm.applicationDetails.Icon">
            <img data-ng-src="{{vm.applicationDetails.Icon}}"
              style="max-height: 125px;
              width: auto;
              margin: 0 auto;"
              alt="Application Icon"/>
          </div>
          <div layout="row">
            <md-button file-on-change="vm.uploadFile" ng-disabled="vm.imageUploading" flex>
              <span ng-hide="vm.imageUploading">Upload Icon</span>
              <span ng-show="vm.imageUploading" layout="row" flex layout-align="center center">
                <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
              </span>
            </md-button>
          </div>
        </div>
      </div>
    </md-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-href="/application/{{vm.applicationId}}">Cancel</md-button>
      <md-button ng-click="vm.saveApplicationDetails()" ng-disabled="vm.saving">
        <span ng-hide="vm.saving">Save</span>
        <span ng-show="vm.saving" layout="row" flex layout-align="center center">
          <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
        </span>
      </md-button>
    </md-card-actions>
  </md-card>
</div>
