<div ng-hide="!vm.loading" layout="row" flex layout-align="center center">
  <md-progress-circular md-mode="indeterminate" md-diameter="140"></md-progress-circular>
</div>

<div ng-hide="vm.loading" layout="row" flex layout-wrap layout-align="start start">
  <div ng-hide="vm.loading" flex="100">
    <h2 layout-padding>{{vm.applicationDetails.Name}}</h2>
  </div>
  <div flex-gt-sm="50" flex="100">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Description</span>
          <span class="md-subhead">{{vm.applicationDetails.Description}}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-md card-media">
            <img data-ng-src="{{vm.applicationDetails.Icon}}"/>
          </div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-href="/application/{{vm.applicationDetails.ApplicationId}}/manage">Edit Details</md-button>
        <md-button ng-href="/application/{{vm.applicationDetails.ApplicationId}}/demo">Demo</md-button>
      </md-card-actions>
    </md-card>
  </div>
  <div flex-gt-sm="50" flex="100">
    <md-card>
      <md-toolbar class="md-theme-light md-primary md-hue-1">
        <div class="md-toolbar-tools">
          <h2>
            <span>Schemas</span>
          </h2>
          <span flex></span>
          <md-button class="md-button" aria-label="Create">
            Create
          </md-button>
        </div>
      </md-toolbar>
      <md-list-item class="md-3-line" ng-repeat="schema in vm.schemas">
        <div class="md-list-item-text" layout="column">
          <h3>{{ schema.Name }}</h3>
          <h4>{{ schema.Description }}</h4>
          <p>Tables: {{ '?' }}</p>
        </div>
        <md-button class="md-secondary">Edit</md-button>
      </md-list-item>
      <md-list-item class="md-3-line" ng-show="vm.schemas.length === 0">
        <div class="md-list-item-text" layout="column">
          No Schemas for this application
        </div>
      </md-list-item>
    </md-card>
  </div>
  <div flex="100">
    <md-card>
      <md-toolbar class="md-theme-light md-primary md-hue-1">
        <div class="md-toolbar-tools">
          <h2>
            <span>Services</span>
          </h2>
          <span flex></span>
          <md-button ng-href="/application/{{vm.applicationDetails.ApplicationId}}/createscreen" class="md-button" aria-label="Create">
            Create
          </md-button>
        </div>
      </md-toolbar>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="schema in vm.schemas">
          <div class="md-list-item-text">
            <h3>{{schema.Name}}</h3>
            <!-- <h4>Type: {{screen.Type}}</h4> -->
            <!-- <p>Roles: {{screen.SecurityRoles}}</p> -->
          </div>
          <md-button class="md-secondary">Edit</md-button>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
        <md-list-item ng-show="vm.schemas.length === 0">
          <div class="md-list-item-text" layout="column">
            No Services for this application
          </div>
        </md-list-item>
      </md-list>
    </md-card>
  </div>
</div>
